* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #ffecd2, #fcb69f);
    font-family: 'Arial', sans-serif;
}

.envelope-container {
    position: relative;
    width: 300px;
    height: 200px;
    perspective: 1000px;
}

.envelope {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform-style: preserve-3d;
    transition: transform 1.5s ease-in-out;
}

.flap {
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: #e8b89b;
    border-radius: 10px;
    transition: transform 2s ease-in-out;
    transform-origin: bottom;
    z-index: 2; /* Asegura que las solapas estén sobre el mensaje */
}

.top-flap {
    top: 0;
    transform-origin: bottom;
}

.bottom-flap {
    bottom: 0;
    transform-origin: top;
    z-index: 1; /* El mensaje queda sobre la solapa inferior */
}

.letter {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 1.5s ease 1.5s, transform 1.5s ease 1.5s; /* Mayor retraso para coordinar mejor */
    z-index: 3; /* El mensaje ahora estará encima de todo */
}

.message {
    font-size: 1.3rem;
    color: #333;
    font-family: 'Brush Script MT', cursive;
    text-align: center;
    line-height: 1.6;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f76c6c;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #f54b4b;
}

.envelope.open .top-flap {
    transform: rotateX(-180deg);
}

.envelope.open .bottom-flap {
    transform: rotateX(180deg);
}

.envelope.open .letter {
    opacity: 1;
    transform: translateY(0);
}